<% content_for :header_tags do %>
    <%= stylesheet_link_tag("progress_report.css", :plugin => "redmine_progress_report", :media => "screen") %>
    <%= javascript_include_tag('//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js') %>
    <%= javascript_tag('jQuery.noConflict();') %>
    <%= javascript_include_tag('progress_report.js', :plugin => 'redmine_progress_report') %>
<% end %>

<h2>Progress Report</h2>

<% form_tag version_progresses_url(), :method => :get, :id => "progress_report_form", :class => "new_issue" do %>
    <div class="box tabular">
      <p>
        <label>Project:</label>
        <%= select_tag :project_id, options_for_select(@projects.collect{|project| [project.name, project.id]}.insert(0, ""))  %>
      </p>

    </div>
<% end %>