<% content_for :header_tags do %>
    <%= stylesheet_link_tag("progress_report.css", :plugin => "redmine_progress_report", :media => "screen") %>
    <%= javascript_include_tag('//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js') %>
    <%= javascript_tag('jQuery.noConflict();') %>
    <%= javascript_include_tag('progress_report.js', :plugin => 'redmine_progress_report') %>
<% end %>

<h2>Progress Report</h2>

<% form_tag version_progress_url(@version), :method => :get, :id => "progress_report_form" do %>
    <label>Project:</label>
    <%= select_tag :project_id, options_from_collection_for_select(@projects, :id, :name, @project.id) %>
    <label>Version:</label>
    <%= select_tag :version_id, options_from_collection_for_select(@versions, :id, :name, @version.id) %>
    <label>Estimate Dev Days:</label>
    <%= text_field_tag :estimated_dev_days, params[:estimated_dev_days] %>
    <label>Period:</label>
    <%= select_tag :period, options_for_select([['All', 'all'], ['From a date till now', 'from_date'], ['Between two dates', 'between']], params[:period]) %>

    <span id="date_range_wrapper" style="display:none">
        <span id="from_date_wrapper">
        <%= text_field_tag :from_date, params[:from_date], :size => 10 %><%= calendar_for('from_date') %>
        </span>

        <span id="to_date_wrapper">
          to
          <%= text_field_tag :to_date, params[:to_date], :size => 10 %><%= calendar_for('to_date') %>
        </span>
    </span>
    <%= submit_tag "Apply" %>
<% end %>

<br/>
<br/>
<table class="list">
  <thead>
  <tr>
    <th>Date</th>
    <th>% Done</th>
    <th>% Dev Days</th>
    <th>Spent Dev Days</th>
  </tr>
  </thead>
  <tbody>
  <% @version_progresses.each do |progress| %>
      <tr>
        <td><%= progress.created_at.strftime('%Y-%m-%d') %></td>
        <td>
          <%= progress_bar progress.percentage_done, :width => '80px', :legend => "#{progress.percentage_done}%" %>
        </td>
        <td>
          <% p_dev_days = percentage_dev_days(progress.spent_hours, params[:estimated_dev_days]) %>
          <%= progress_bar p_dev_days, :width => '80px', :legend => "#{p_dev_days}%" %>
        </td>
        <td><%= progress.spent_hours/8 %> (<%= progress.spent_hours %> hours)</td>
      </tr>
  <% end %>
  </tbody>
</table>

